<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>


<body>
    <h1>Welcome to the Main Page</h1>

    <img src="/public/images/IMG_20230903_191855.jpg" alt="My dancing Cat">

    <a href="/">Back to Home</a>

</body>

</html>
